.dialog-root {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dialog-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    outline: none;
}

.raffle-dialog {
    background: linear-gradient(to right, #0f161d 0%, #131b24 51%, #0f161d 100%);
    padding: 0 30px;
    height: 300px;
    width: 800px;
}

.roller-box {
    margin-top: 50px;
    height: 160px;
    background: #000;
    border: 1px solid #616161;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.roller-movable {
    position: absolute;
    left: 0;
    transition-duration: 7s;
    transition-timing-function: cubic-bezier(0.18, 0.17, 0.02, 1);
}

.roller-cell {
    position: relative;
    display: block;
    height: 100%;
    text-align: center;
    color: white;
    line-height: 155px;
    font-size: 0.8em;
    font-weight: bold;
    font-family: sans-serif;
    width: 148px;
}

.roller-cell img {
    height: 100%;
    width: 100%;
}

.roller-label {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.roller-needle {
    width: 2px;
    height: 198px;
    top: 1px;
    left: 50%;
    position: absolute;
    background: #FFCE0A;
    opacity: 0.6;
    z-index: 2;
}

.raffle-winner {
    color: white;
    display: block;
    font-size: 2rem;
    opacity: 0;
    margin-top: 20px;
    text-align: center;
    animation: show-winner 0.5s linear 7.1s;
    animation-fill-mode: forwards;
}
.raffle-winner:after {
    opacity: 1;
}

@keyframes show-winner {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}