.vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.blur {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.welcome-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcomeDialog {
    background-color: white;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    max-width: 600px;
}

.welcomeDialog-title {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    padding: 16px 24px;
}

.welcomeDialog-content {
    padding: 8px 24px;
}

.welcomeDialog-actions {
    flex: 0 0 auto;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: flex-end;
}

.welcomeDialog-textSecondary {
    color: rgba(0, 0, 0, 0.54);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    margin-bottom: 12px;
}

.welcomeHint {
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-top: 20px;
    max-width: 600px;
}

.welcomeHint-title {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin: 10px;
}

.welcomeHint-content {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: block;
    margin: 10px;
}

.compatibility-info {
    font-size: 3vw;
    text-align: center;
}