.welcomeHint {
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-top: 20px;
    max-width: 600px;
}

.welcomeHint-title {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin: 10px;
}

.welcomeHint-content {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: block;
    margin: 10px;
}